.adminImages{
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  min-height: 500px;
  border-radius: 5px;
}

.adminImages__header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: solid 1px;
  border-color: #E3E3E3;
}

.adminImages__title {
  font-weight: bold;
}

.adminImages__fileInput {
  display: none;
}

.adminImages__back {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.adminImages__addImagesButton {
  align-self: flex-end;
}

@media screen and (min-width: 701px) {
  .adminImages__header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .adminImages__back {
    display: none;
  }
}