.adminImages{
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  min-height: 500px;
  border-radius: 5px;
}

.adminImages__header {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: solid 1px;
  border-color: #E3E3E3;
}

.adminImages__title {
  font-weight: bold;
}

.adminImages__fileInput {
  display: none;
}

.adminImages__back {
  width: 50%;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  margin-top: 10px;
}

.adminImages__button {
  width: 100%;
  justify-content: center;
  margin-bottom: 10px;
}

.adminImages__buttonContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.adminImages__navContainer {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

@media screen and (min-width: 701px) {
  .adminImages__back {
    display: none;
  }

  .adminImages__header {
    flex-direction: row-reverse;
  }

  .adminImages__button {
    width: 250px;
    margin-bottom: 0px;
    margin-left: 10px;
  }

  .adminImages__buttonContainer {
    flex-wrap: nowrap;
    width: 50%;
  }

  .adminImages__navContainer {
    width: 50%;
  }
}