.mobileNavigation {
	display: flex;
	font-weight: bold;
	align-self: center;
}

.mobileNavigation__link {
}

/* mobile styles */
@media screen and (max-width: 700px) {
	.mobileNavigation {
		flex-direction: column;
		width: 100%;
		background-color: #B9B9B9;
	}
}

@media screen and (min-width: 701px) {
	.mobileNavigation {
		justify-content: flex-end;
		width: 50%;
	}

	.mobileNavigation__link {
		margin-left: 10px;
	}
}