.mobileNavigation {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: #B9B9B9;
	padding: 25px;
	font-weight: bold;
}

.mobileNavigation__link {
	padding-top: 15px;
	padding-bottom: 15px;
}

@media screen and (min-width: 701px) {
	.mobileNavigation {
		flex-direction: row;
		justify-content: flex-end;
		width: 50%;
		padding: 0;
		background-color: white;
	}

	.mobileNavigation__link {
		margin-left: 10px;
	}
}