.mobileNavigationElement {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.mobileNavigationElement__icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.mobileNavigationElement__albumName {
  cursor: pointer;
}

@media screen and (min-width: 701px) {
  .mobileNavigationElement {
    padding-top: 5px;
    padding-bottom: 5px;
  }

	.mobileNavigationElement__icon {
		width: 10px;
    height: 10px;
    margin-left: 3px;
	}
}