.mobileNavigationRootElement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.mobileNavigationRootElement__icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.mobileNavigationRootElement__elementContainer {
}

@media screen and (min-width: 701px) {
  .mobileNavigationRootElement {
    padding-top: 0px;
    padding-bottom: 0px;
  }

	.mobileNavigationRootElement__icon {
		width: 10px;
    height: 10px;
    margin-left: 3px;
	}

  .mobileNavigationRootElement__elementContainer {
    position: absolute;
    right: 0;
    top: 35px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: white;
    z-index: 999;
    width: 300px;
    padding: 15px;
    border-radius: 5px;
    border: solid 1px #B9B9B9;
  }
}