.visitorHeader {
}

.visitorHeader__top {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.visitorHeader__title {
  font-size: 32px;
  font-weight: bold;
  width: 80%;
}

.visitorHeader__search {
  padding-left: 25px;
  padding-right: 25px;
  width: 50%;
}

.visitorHeader__input {
  width: 100%;
  margin: 0px;
}

.visitorHeader__inputInfo {
  text-align: center;
  padding: 5px;
  font-size: 10px;
  color: #B9B9B9;
}

.visitorHeader__icon {
  width: 25px;
  height: 25px;
  align-self: center;
  cursor: pointer;
}

/* mobile styles */
@media screen and (max-width: 550px) {
  .visitorHeader__search {
    width: 100%;
  }
}